<h2 class="page-header">{{username}}'s followers</h2>
<div class="follower-list-container">

  <mat-card class="follower-container">
    <div class="follower-image">
      <img alt="test"/>
    </div>
    <mat-card-content>
      <div class="follower-info-container">
        <div class="follower-details">
          <a href="/test">Test user</a>
        </div>
        <div class="follower-tag">@test</div>
      </div>
      <span class="follower-description">
        Description from the user comes here.
      </span></mat-card-content
    >
  </mat-card>
  <mat-card class="follower-container">
    <div class="follower-image">
      <img alt="test"/>
    </div>
    <mat-card-content>
      <div class="follower-info-container">
        <div class="follower-details">
          <a href="/test">Test user</a>
        </div>
        <div class="follower-tag">@test</div>
      </div>
      <span class="follower-description">
        Description from the user comes here.
      </span></mat-card-content
    >
  </mat-card>
</div>